.login-page-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.login-logo {
  width: 480px;
  aspect-ratio: 70 / 9;
  margin: 2rem 0 4rem 0;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-tap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.login-tap > button {
  border: 1px solid var(--color-blue);
}

.login-tap > button:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.login-bnt-size {
  width: 100%;
}

.login-form-container {
  width: 27rem;
  padding: 1rem;
  border: 1px solid var(--color-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 1rem;
}

.login-form-container > .input-medium {
  width: 100%;
}

.login-submit-btn {
  margin-top: 1.8rem;
}

.login-submit-btn:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.login-redirect > button {
  width: 30%;
  padding: 0;
}

.login-social > hr{
  color: var(--color-dark-blue);
  margin-bottom: 1rem;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle-btn {
  position: absolute;
  right: 0.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  transition: color 0.2s;
}

.password-toggle-btn:hover {
  color: #333;
}

/* 태블릿 크기 (820px ~ 431px) */
@media (max-width: 820px) {
  .login-logo {
    width: 80%;
    height: 3.5rem; /* 크기가 줄어들 때 높이도 살짝 조절 */
    margin: 2rem 0 3rem 0;
  }
  
  .login-form-container {
    width: 24rem;
    padding: 0.8rem;
  }
}

/* 모바일 크기 (430px 이하) */
@media (max-width: 430px) {
  .login-page-container {
    padding: 1rem;
  }
  
  .login-logo {
    width: 80%;
    height: 2.6rem;
    margin: 1.5rem auto 2rem auto;
  }
  
  .login-form-container {
    width: 90%;
    max-width: 320px;
    padding: 1rem;
  }

  .login-redirect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
  } 

  .login-redirect > button {
    font-size: 0.8rem;
    width: 100%;
  }

  .login-redirect button:nth-of-type(2) {
    border-radius: 0;
    border-left: 1px solid var(--color-dark-blue);
    border-right: 1px solid var(--color-blue);
  }

  .login-redirect > span {
    display: none;
  }
}