* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variables */
  --color-black: #080809;
  --color-dark-blue: #0C1B41;
  --color-blue: #405792;
  --color-light-blue: #43BBEE;
  --color-white: #FFFFFF;
  --color-red: #C01E20;
  --color-light-gray: #E1E5EF;
  --color-gray: #7C7F88;
  --color-yellow: #FFC300;
}

#root {
  width: 100%;
  margin: auto;
}

.all-container {
  max-width: 1200px;
  margin: auto;
}

/* 버튼 관련 */
button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-full-width {
  width: 100%;
  height: 40px;
  font-size: 16px;
}

.btn-big {
  width: 300px;
  height: 50px;
  font-size: 25px;
}

.btn-medium {
  width: 120px;
  height: 50px;
  font-size: 25px;
}

.btn-small {
  width: 90px;
  height: 30px;
  font-size: 16px;
}

/* 배경 관련 */
.bg-gray {
  background-color: var(--text-gray);
  color: var(--input-box);
}

.bg-dark {
  background-color: var(--darkgreen);
  color: var(--input-box);
}

.bg-red {
  background-color: var(--red-btn);
  color: var(--input-box);
}

.bg-light {
  background-color: var(--primary-color-light);
  color: var(--primary-color-dark);
}

.bg-img-kakao {
  background-image: url("/icons/kakao.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 프로필 관련 */
.profile {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.profile-medium {
  width: 100px;
  height: 100px;
}

.profile-small {
  width: 50px;
  height: 50px;
}

/* 절취선 */
.bottom-line {
  border-bottom: var(--primary-line);
}

/* 텍스트 있는 절취선 */
.text-on-line {
  min-width: 320px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color-gray);
  font-size: 30px;
}

.text-on-line::before,
.text-on-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: var(--primary-color-gray);
}

/* input 관련 */
.input-big-border {
  background-color: var(--input-box);
  color: var(--text-gray);
  border: none;
  padding: 0 10px;
  width: 300px;
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
}

.input-medium {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

/* 캐릭터 관련 */
.ice-doctor-character {
  background-image: url('/icons/ice-doctor-character.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* 하트 관련 */
.icon-heart-fill {
  background-image: url('/icons/heart-fill.png');
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-heart-empty {
  background-image: url('/icons/heart-empty.png');
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* 삭제 아이콘 */
.icon-delete {
  background-image: url('/icons/btn-delete.png');
  width: 25px;
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}