.qnapost-main-container {
  background-color: var(--color-blue);
  padding: 2rem
}

.qnapost-container {
  border-radius: 15px;
  background-color: var(--color-white);
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.qnapost-container > h2 {
  color: var(--color-blue);
  font-size: 2rem;
}

.qnapost-btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.qnapost-qna-box {
  width: 100%;
  padding: 2rem;
  border: 1px solid var(--color-blue);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.qnapost-item-wrapper {
  width: 95%;
  border: 1px solid var(--color-blue);
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.qnapost-item {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
}

.qnapost-item:hover {
  background-color: var(--color-light-gray);
}

.qnapost-arrow {
  font-size: 12px;
  color: var(--color-dark-blue);
}

.qnapost-answer {
  padding: 20px;
  border-top: 1px solid var(--color-dark-blue);
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}