.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.topLabel {
  font-size: 16px;
  margin-bottom: 8px;
}

.trigger {
  width: 100%;
  height: 43px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.triggerOpen {
  border: 1px solid var(--color-gray);
}

.chev {
  font-size: 12px;
  opacity: 0.6;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr;
}


.leftCol {
  border-right: 1px solid #eeeeee;
  padding: 8px;
  overflow-y: auto;
  max-height: 240px;
}

.rightCol {
  padding: 10px;
  overflow: hidden;
}

.leftItem {
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: "";
}

.leftItemActive {
  background: var(--color-light-gray);
}

.leftText {
  font-size: 13px;
  font-weight: 700;
}

.count {
  font-weight: 600;
  opacity: 0.55;
}

.badge {
  min-width: 20px;
  height: 20px;
  padding: 6px;
  margin-left: 6px;
  border-radius: 999px;
  background: #111;
  color: #fff;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rightList {
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 8px;
  max-height: 240px;
  overflow-y: auto;
  width: auto;
}

.rightItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 9px 8px;
  border-radius: 15px;
  cursor: pointer;
  width: 90px;
}

.rightItemChecked {
  background: var(--color-light-gray);
}

.rightItemText {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
}

.checkbox {
  width: 14px;
  height: 14px;
  display: none;
}

.chipsEmpty {
  font-size: 12px;
  opacity: 0.6;
  padding: 6px 2px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  color: #fff !important;
  background: #000000 !important;
  border-radius: 999px;
  cursor: pointer;
}

.chipText {
  font-size: 12px;
  font-weight: 800;
}

.chipX {
  width: 22px;
  height: 22px;
  border-radius: 999px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  opacity: 0.8;
}

.footerBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.ghostBtn {
  border: 1px solid #ffffffff;
  background: #fff;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
}

.primaryBtn {
  border: 1px solid #ffffffff;
  background: #ffffffff;
  color: #000;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
}
