.result-container{
  padding: 1rem;
}

.result-box {
  margin: 5rem 3rem 3rem 3rem ;
  padding: 3rem 1rem;
  border: 1px solid var(--color-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.result-img {
  width: 10rem;
  height: 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.result-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result-text > h3 {
  font-size: 1.5rem;
}

.result-text > p {
  text-align: center;
}

.result-btn-containver {
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

@media (max-width: 430px) {  
  .result-container {
    padding: 1rem;
  }

  .result-box {
    margin: 1rem;
  }

  .result-btn-containver {
    padding: 1rem;
  }

  .result-btn-containver > button{
    font-size: 1rem;
  }
}