/* 부모 컨테이너: 자식들을 가로로 나열함 */
.chatmain-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: var(--color-white);
  overflow: hidden;
}

/* 중앙 대화창 영역: 남은 공간을 모두 차지함 */
.chatmain-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-light-gray);
  height: 100%;
}

/* 오른쪽 사이드바 영역: 너비를 고정함 */
.chatmain-right {
  width: 350px;
  height: 100%;
  background-color: var(--color-white);
  overflow-y: auto;
}

/* 모바일 반응형 대응 */
@media (max-width: 820px) {
  .chatmain-container {
    flex-direction: column;
    height: auto;
  }

  .chatmain-center {
    width: 100%;
    min-width: unset;
    height: calc(100vh - 80px);
  }

  .chatmain-right {
    display: none;
  }
}