.cleaners-top-summary-wrapper {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-top-summary-title {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.cleaners-top-summary-date {
    font-size: 1.2em;
    margin: 0 auto;
}

.cleaners-top-summary-amounts {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cleaners-top-summary-amount-item {
    font-size: 1.1rem;
    text-align: center;
}