
.cleaners-modal-modal-text-button {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cleaners-modal-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;     
  justify-content: center; 
  z-index: 9999;  
}


.cleaners-modal-modal-box {
  width: min(360px, 90%);
  height: min(200px, 90%);
  background: #fff;
  border-radius: 16px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
}

.cleaners-modal-modal-button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--color-light-gray);
  white-space: nowrap;
}

.cleaners-modal-cancel-submit-text-button {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cleaners-modal-modal-button-row {
  display: flex;
  gap: 12px;
  justify-content: center;
  width: 100%;
}
