.result-container{

}

.result-result-box {
  margin: 3rem 3rem 0 3rem ;
  padding: 1rem;
  border: 1px solid var(--color-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-img {
  width: 10rem;
  height: 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.result-result-box > h3 {
  margin-bottom: 1rem;
}

.result-btn-containver {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}