.cleanerprofilemodal-modal-overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}

.cleanerprofilemodal-modal-content {
  background: var(--color-white);
  width: 90%;
  max-width: 28rem; 
  padding: 3rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
  position: relative;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.cleanerprofilemodal-modal-close-btn {
  position: absolute;
  top: 1.5rem; 
  right: 1.5rem;
  background: none; 
  border: none;
  font-size: 1.75rem; 
  font-weight: 800; 
  cursor: pointer; 
  color: #000;
}

.cleanerprofilemodal-profile-image-container {
  display: flex; 
  justify-content: center; 
  margin-bottom: 1.5rem;
}

.cleanerprofilemodal-profile-modal-img {
  width: 10rem; 
  height: 13rem; 
  object-fit: cover;
  border-radius: 1rem;
  background-color: #d9d9d9;
}

/* 이름 & 별점 스타일 */
.cleanerprofilemodal-profile-name {
  text-align: center;
  font-size: 2rem; /* 약 32px */
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* 별점 컨테이너 */
.cleanerprofilemodal-name-star {
  color: var(--color-yellow); 
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.cleanerprofilemodal-star-icon {
  margin-right: 0.2rem;
}

/* 별점 숫자 스타일 */
.cleanerprofilemodal-star-number {
  color: #000;
  font-weight: 700;
  font-size: 1.5rem; 
}

/* 소개글 박스 */
.cleanerprofilemodal-profile-bio-box {
  width: 100%;
  height: 8rem;
  border: 1px solid #999; /* 시안의 얇은 테두리 */
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

/* 하단 지역/경력 레이아웃 */
.cleanerprofilemodal-info-label {
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.cleanerprofilemodal-tag-container {
  display: flex; 
  gap: 0.5rem; 
  flex-wrap: wrap; 
  margin-bottom: 1.5rem;
}

.cleanerprofilemodal-info-tag {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  border-radius: 0.75rem;
  padding: 0.3rem 1.5rem;
  font-weight: 600;
}

/* 반응형 중단점 */
@media screen and (max-width: 820px) {
  .cleanerprofilemodal-modal-content { 
    max-width: 75%; 
  }
}

@media screen and (max-width: 430px) {
  .cleanerprofilemodal-modal-content {
    width: 92%; 
    padding: 2rem 1rem; 
  }

  .cleanerprofilemodal-profile-name { 
    font-size: 1.5rem; 
  }

  .cleanerprofilemodal-profile-modal-img { 
    width: 8rem; 
    height: 10.5rem; 
  }
}