.favoritebtn-button {
  color: var(--color-red);
  transition: color 0.2s ease-in-out;
  font-size: 1.5rem;
  cursor: pointer;
}

.favoritebtn-button.favoritebtn-favorited {
  color: var(--color-red);
}

.favoritebtn-heart-icon {
  display: block;
}

.favoritebtn-favorited {
  transform: scale(1.1);
}

.favoritebtn-button {
  opacity: 0.6;
}

.favoritebtn-loading-spinner {
  margin-left: 5px;
  font-size: 0.8rem;
}