.cleaners-user-quotations-title-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-user-quotations-title-text {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.cleaners-user-quotations-title-status-selected {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  color: var(--color-blue);
}

.cleaners-user-quotations-title-small-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
}

.cleaners-user-quotations-title-wrapper-selected {
  background-color: #FFFDF9;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-user-quotations-title-vertical-line-selected-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleaners-user-quotations-title-location-selected-location {
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-title-place-selected-place {
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-title-user-selected-user {
  display: flex;
  justify-content: center;
}


.cleaners-user-quotations-title-date-select-date {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.cleaners-user-quotations-title-img-frame {
  width: 80%;
  height: 60%;
  background-color: #BBDCDD;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.cleaners-user-quotations-title-img-selected {
  width: 150px;
  height: 150px;
}

.cleaners-user-quotations-title-wrapper-rejected {
  background-color: #F9F9FB;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-user-quotations-title-status-rejected {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  color: var(--color-red);
}


.cleaners-user-quotations-title-vertical-line-rejected-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleaners-user-quotations-title-location-rejected-location {
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-title-place-rejected-place {
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-title-user-rejected-user {
  display: flex;
  justify-content: center;
}


.cleaners-user-quotations-title-date-rejected-date {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


.cleaners-user-quotations-title-wrapper-pending {
  background-color: #F9F9FB;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-user-quotations-title-status-pending {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  color: var(--color-gray);
}

.cleaners-user-quotations-title-vertical-line-pending-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleaners-user-quotations-title-location-pending-location {
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-title-place-pending-place {
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-title-user-pending-user {
  display: flex;
  justify-content: center;
}


.cleaners-user-quotations-title-date-pending-date {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}