.btn-small-custom {
  width: 180px;
  height: 30px;
  font-size: 16px;
  background-color: var(--color-light-gray);
  white-space: nowrap;
}


.cleaners-user-quote-list-details-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cleaners-user-quote-list-details-page-info {
  margin: 0 auto;
  padding: 30px 0;
}

.cleaners-user-quote-list-details-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 30px;
  width: 90%;
  height: auto;
  display: flex;
  gap: 100px;
  align-items: center;
}

.cleaners-user-quote-list-details-reservation-date-time-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 30px;
  height: auto;
  display: flex;
}

fieldset.cleaners-user-quote-list-details-border-none {
  border: none;
  padding: 5px 15px 15px 15px;
}

legend.cleaners-user-quote-list-details-border-none {
  border: none;
  display: flex;
  flex-direction: column;
}

.cleaners-user-quote-list-details-quote-status {
  color: var(--color-blue);
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.cleaners-user-quote-list-details-user-info {
  font-size: 20px;
}

.cleaners-user-quote-list-details-reservation-time {
  display: flex;
  flex-direction: row;
}

.cleaners-user-quote-list-details-answer-display-none {
  display: none;
}

.cleaners-user-quote-list-details-answer {
  width: fit-content;
  max-width: 100%;
  white-space: nowrap;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-light-gray);
  text-align: center;
  line-height: 2;
  padding: 2px 10px;
  margin: 7px 10px;
}

.cleaners-user-quote-list-details-answer-selected {
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-gray);
  text-align: center;
  line-height: 2;
  padding: 2px 10px;
  margin: 7px 10px;
}

.cleaners-user-quote-list-details-attachment-btn {
  width: 90px;
  height: 30px;
  font-size: 16px;
  display: block;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: var(--color-light-gray);
}

.cleaners-user-quote-list-details-attachment {
  display: none;
}

.cleaners-user-quote-list-details-ul-title {
  list-style: none;
}

.cleaners-user-quote-list-details-answer-binary-layout {
  padding: 10px 0;
}

.cleaners-user-quote-list-details-radio-ui {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid var(--color-gray);
  background-color: var(--color-light-gray);
  display: inline-block;
  margin-right: 10px;
}

/* 선택되었을 때: label이 selected 상태일 경우, 그 안의 원형만 변경 */
.cleaners-user-quote-list-details-answer-binary-selected .cleaners-user-quote-list-details-radio-ui {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  display: inline-block;
}

.cleaners-user-quote-list-details-radio-input {
  display: none;
}

.cleaners-user-quote-list-details-details-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 30px;
  height: auto;
  display: flex;
}

.cleaners-user-quote-list-details-first-card {
  display: flex;
  flex-direction: column;
}

.cleaners-user-quote-list-details-reservation-date {
  display: flex;
}

.cleaners-user-quote-list-details-info {
  padding-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.cleaners-user-quote-list-details-details {
  padding-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.cleaners-user-quote-list-details-details-option-info {
  color: var(--color-gray);
}

.cleaners-user-quote-list-details-requests-title {
  margin: 10px 0;
}

.cleaners-user-quote-list-details-requests {
  min-height: 200px;
}