.cleaners-user-quote-list-details-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-user-quote-list-details-container > form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-user-quote-list-details-container > form > button {
  align-self: center;
}

.cleaners-user-quote-list-details-title {
  font-size: 1.5rem;
}

.cleaners-user-quote-list-details-items-box {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.cleaners-user-quote-list-details-items-box-column {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cleaners-user-quote-list-details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.cleaners-user-quote-list-details-base-info {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.cleaners-user-quote-list-details-like-status {
  color: var(--color-blue);
  font-weight: bold;
  font-size: 1.2rem;
}

.cleaners-user-quote-list-details-icon-set {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cleaners-user-quote-list-details-items-box-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-items-box-sub-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-items-box-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.cleaners-user-quote-list-details-items-box-image {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cleaners-user-quote-list-details-input-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.cleaners-user-quote-list-details-input-box > label {
  width: 60px;
}

.cleaners-user-quote-list-details-input-box > input {
  width: 100%;
}

.cleaners-user-quote-list-details-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cleaners-user-quote-list-details-input-layout {
  padding: 10px;
  background-color: var(--color-light-gray);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  flex: 1;
}

.cleaners-user-quote-list-details-input-layout-full-width {
  padding: 10px;
  background-color: var(--color-light-gray);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  flex: 1;
}

.cleaners-user-quote-list-details-input-layout:focus {
  outline: none;
}

.cleaners-user-quote-list-details-toggle-question {
  cursor: pointer;
  user-select: none;
}
.cleaners-user-quote-list-details-toggle-question::after {
  content: '(필수 사항이 아닌 선택 사항입니다. 하지만 입력해주시면 기사님들이 빠른 진단을 해주실 수 있어요!)';
  font-size: 0.9rem;
  color: var(--color-gray);
}

/* 추가 질문 관련 */
.cleaners-user-quote-list-details-items-box-question {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cleaners-user-quote-list-details-items-box-question-answers {
  display: flex;
  gap: 1rem;
}

.cleaners-user-quote-list-details-items-box-question-answer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


/* 라디오 관련 */
.cleaners-user-quote-list-details-radio-ui {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid var(--color-gray);
  background-color: var(--color-light-gray);
}

.cleaners-user-quote-list-details-radio-ui:checked {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}



/* 이하 확인 필요 */
@media (max-width: 820px) {
  .cleaners-user-quote-list-details-base-info {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    justify-items: center;
  }

  .cleaners-user-quote-list-details-grid-1 {
    grid-template-columns: 1fr;
  }
  
  .cleaners-user-quote-list-details-items-box-images {
    grid-template-columns: 1fr 1fr;
  }
}


@media ( max-width: 720px ) {
  .cleaners-user-quote-list-details-contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  }

  .cleaners-user-quote-list-details-contents .cleaners-user-quote-list-details-requests {
    width: 100%;
  }

  .cleaners-user-quote-list-details-answer-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .cleaners-user-quote-list-details-input-layout-full-width {
    width: 100%;
  }
}




