/* 부모 컨테이너 */
.cleaners-profile-edit-profile-title {
  position: relative; /* 자식들의 기준점 */
  width: 150px;       /* 프로필 이미지 크기에 맞춤 */
  height: 150px;
  margin: 1rem auto;  /* 가운데 정렬 등 필요시 추가 */
}

/* 이미지 컨테이너 (이미지와 편집 아이콘을 감싸는 div) */
.profileImageContainer {
  position: relative;
  width: 180px;
  height: 270px;
  cursor: pointer;
}

/* 프로필 이미지 */
.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* 편집 아이콘 (이미지 위에 겹치기) */
.editIcon {
  position: absolute;
  bottom: -7px;
  right: -7px;
  border-radius: 50%;
  /* 1. 크기 지정 (필수) */
  width: 40px;
  height: 40px;
  /* 2. 이미지 불러오기 (필수) */
  background-image: url('../../../public/icons/edit-icon.png');
  /* 3. 반복 방지 (선택 사항) */
  background-repeat: no-repeat;
  /* 4. 이미지 위치 (선택 사항) */
  background-position: center center; /* 중앙 정렬 */
  /* 5. 이미지 크기 조정 (필수 사항, 이미지 채우기 방식 결정) */
  background-size: 50%; 
  /* 또는: background-size: contain; */
  /* 또는: background-size: 100% 100%; */
  /* 기타 스타일 */
  border: 1px solid var(--color-gray);
  background-color: #fff;
  z-index: 2;
}