.all-container {
  max-width: 1200px;
  margin: auto;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cleaner-account-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaner-account-edit-account-management {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  height: 60px;
  width: 90%;
  margin-bottom: 30px;
  height:auto;
}

.cleaner-account-edit-account-management-title {
  display: flex;
  align-items: center;
}

.cleaner-account-edit-new-account-img {
  width: 17px;
  height: 8px;
}

.cleaner-account-edit-new-account-message {
  display: inline-block;
}

.cleaner-account-edit-new-account-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaner-account-edit-new-account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaner-account-edit-remove-button{
  display: flex;
  flex-direction: column;
}

.cleaner-account-edit-add-button {
  display: flex;
  flex-direction: column;
}

.cleaner-account-edit-add-button-text {
  display: flex;
  justify-content: center;
}

.cleaner-account-edit-toggle-updown-new-contents {
  display: block;
}

.cleaner-account-edit-toggle-updown-new-contents-toggledown {
  display: none;
}

.cleaner-account-edit-form {
  display: flex;
  flex-direction: column;
}

.cleaner-account-edit-toggle-updown-form-contents {
  display: block;
}

.cleaner-account-edit-toggle-updown-form-contents-toggledown {
  display: none;
}

.cleaner-account-edit-button {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cleaner-account-edit-account-info {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  height: 60px;
  width: 90%;
  margin-bottom: 30px;
  height:auto;
}

.cleaner-account-edit-account-info-title {
  display: flex;
  align-items: center;
}

.cleaner-account-edit-toggle-img-info {
  width: 17px;
  height: 8px;
}

.cleaner-account-edit-toggle-img-info {
  display: inline-block;
}

.cleaner-account-edit-account-info-message {
  display: inline-block;
}

.cleaner-account-edit-toggle-updown-info-contents {
  display: block;
}

.cleaner-account-edit-toggle-updown-info-contents-toggledown {
  display: none;
}

.cleaner-account-edit-account-modal-page {
  display: none;
}