.all-container {
  max-width: 1200px;
  margin: auto;
}

.btn-small {
  width: 90px;
  height: 30px;
  font-size: 16px;
}

.wrapper-cleaners-info-edit {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
  margin-bottom: 30px;
  height: auto;
  display: flex;
  justify-self: center;
}

.cleaners-info-edit-form {
  display: flex;
  flex-direction: column; 
  margin: 7px 10px;
}

.cleaners-info-edit-input-border-radius {
  width: 270px;
  height: 30px;
  border-radius: 5px;
}

.cleaners-info-edit-radio {
  display: none;
}

.cleaners-info-edit-label {
  width: 70px;
  height: 25px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-light-gray);
  text-align: center;
}

.cleaners-info-edit-label-selected {
  background-color: var(--color-gray);
}

.cleaners-info-edit-radio-notification {
  display: none;
}

.cleaners-info-edit-label-notification {
  width: 70px;
  height: 25px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-light-gray);
  text-align: center;
}

.cleaners-info-edit-lobel-notification-selected {
  background-color: var(--color-gray);
}

.cleaners-info-edit-gender {
  display: flex;
}

.cleaners-info-edit-notification {
  display: flex;
}

.button-direction-row {
  display: flex;
  gap: 20px;
}