.cleaners-info-edit-all-layout-center {
  display: flex;
  justify-content: center;
}

.cleaners-info-edit-wrapper-cleaners-info-edit {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
  margin: 40px 0;
}

.cleaners-info-edit-layout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cleaners-info-edit-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.wrapper-cleaners-info-edit {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
  margin-bottom: 30px;
  height: auto;
  display: flex;
  justify-self: center;
  background-color: rgb(189, 189, 143); 
}

.cleaners-info-edit-form {
  display: flex;
  flex-direction: column; 
  margin: 7px 10px;
  gap: 15px;
}

.cleaners-info-edit-id {
  display: flex;
  gap: 10px;
}

.cleaners-info-edit-ps {
  display: flex;
  gap: 10px;
}

.cleaners-info-edit-input-border-radius {
  width: 270px;
  height: 30px;
  border-radius: 5px;
}

.cleaners-info-edit-radio {
  display: none;
}

.cleaners-info-edit-label {
  width: 70px;
  height: 25px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-light-gray);
  text-align: center;
}

.cleaners-info-edit-label-selected {
  background-color: var(--color-gray);
}

.cleaners-info-edit-radio-notification {
  display: none;
}

.cleaners-info-edit-label-notification {
  width: 70px;
  height: 25px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-light-gray);
  text-align: center;
}

.cleaners-info-edit-lobel-notification-selected {
  background-color: var(--color-gray);
}

.cleaners-info-edit-gender {
  display: flex;
}

.cleaners-info-edit-notification {
  display: flex;
}

.button-direction-row {
  display: flex;
  gap: 20px;
}

.cleaners-info-edit-check {
  margin-top: 40px;
}

.cleaners-info-edit-button-direction-row {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}