.cleaners-account-edit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaners-account-edit-account-management {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  height: 60px;
  width: 90%;
  margin-bottom: 30px;
  height:auto;
}

.cleaners-account-edit-account-management-title {
  display: flex;
  align-items: center;
}

.cleaners-account-edit-new-account-message {
  display: inline-block;
}

.cleaners-account-edit-new-account-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaners-account-edit-remove-layout {
  display: flex;
}

.cleaners-account-edit-account-title {
  padding-right: 10px;
}

.cleaners-account-edit-delete-img {
  display: flex;
  flex-direction: column;;
  width: 14px;
}

.cleaners-account-edit-add-button {
  display: flex;
  flex-direction: column;
}

.cleaners-account-edit-add-button-text {
  display: flex;
  justify-content: center;
}

.cleaners-account-edit-toggle-updown-new-contents {
  display: block;
}

.cleaners-account-edit-toggle-updown-new-contents-toggledown {
  display: none;
}

.cleaners-account-edit-toggle-updown-form-accounts-toggledown {
  display: none;
}

.cleaners-account-edit-toggle-updown-form-accounts {
  display: block;
}


.cleaners-account-edit-toggle-updown-form-contents {
  display: block;
}

.cleaners-account-edit-toggle-updown-form-contents-toggledown {
  display: none;
}

.cleaners-account-edit-button {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cleaners-account-edit-account-info {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  height: 60px;
  width: 90%;
  margin-bottom: 30px;
  height:auto;
}

.cleaners-account-edit-account-info-title {
  display: flex;
  align-items: center;
}

.cleaners-account-edit-toggle-img-info {
  display: inline-block;
  width: 17px;
  height: 8px;
}

.cleaners-account-edit-account-info-message {
  display: inline-block;
}

.cleaners-account-edit-toggle-updown-info-contents {
  display: block;
}

.cleaners-account-edit-toggle-updown-info-contents-toggledown {
  display: none;
}

.cleaners-account-edit-account-modal-page {
  display: none;
}

.cleaners-account-edit-toggle-layout {
  display: flex;
  flex-direction: column;
}

.cleaners-account-edit-input-layout {
  width: 270px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--color-gray)
}

.cleaners-account-edit-layout-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}