.all-container {
  max-width: 1200px;
  margin: auto;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.cleaners-my-page-wrapper {
  margin: 0 auto;
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
  background-color: var(--color-light-blue);
}

.cleaners-my-page-photo-frame {
  width: 120px;
  height: 160px;        /* 예: 3:4 증명사진 */
  background-color: #BBDCDD;
  border-radius: 10px;
  overflow: hidden;
}

.cleaners-my-page-profile-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cleaners-my-page-lists {
  margin: 0 auto;
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
}

.cleander-my-page-lists-1 {
  display: flex;
}

.cleaners-my-page-lists-1-place {
  font-size: 20px;
}

.cleaners-my-page-lists-user-info {
  display: flex;
  flex-direction: column;
}

.cleaners-my-page-lists-status {
  font-size: 20px;
}