.cleaners-user-quotations-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-user-quotations-title {
  font-size: 1.5rem;
  padding: 20px 0;
}

/* Main 관련 */
.cleaners-user-quotations-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
}

/* Item 관련 */
.cleaners-user-quotations-item {
  cursor: pointer;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cleaners-user-quotations-item:hover {
  background-color: var(--color-light-gray);
}

.cleaners-user-quotations-item-status {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.cleaners-user-quotations-item-addr {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.cleaners-user-quotations-item-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cleaners-user-quotations-icon-box {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center;
}

.cleaners-user-quotations-icon-flex {
  flex: 30px;
}

.cleaners-user-quotations-item-content-flex {
  display: flex;
  flex-direction: column;
}

.cleaners-user-quotations-item-content-flex > p {
  text-align: center;
}

/* Button 관련 */
.cleaners-user-quotations-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 580px ) {
  .cleaners-user-quotations-item-content-flex {
    flex-direction: row;
  }
}

@media (max-width: 400px ) {
  .cleaners-user-quotations-item-content-flex {
    flex-direction: column;
  }
}