.all-container {
  max-width: 1200px;
  margin: auto;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.cleaner-my-page-wrapper {
  margin: 0 auto;
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
}

.cleaner-my-page-photo-frame {
  width: 120px;
  height: 160px;        /* 예: 3:4 증명사진 */
  background-color: #BBDCDD;
  border-radius: 10px;
  overflow: hidden;
}

.cleaner-my-page-profile-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
