.cleaners-user-quote-list-details-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-user-quote-list-details-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.cleaners-user-quote-list-details-items-box {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cleaners-user-quote-list-details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.cleaners-user-quote-list-details-base-info {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.cleaners-user-quote-list-details-like-status {
  color: var(--color-blue);
  font-weight: bold;
  font-size: 1.2rem;
}

.cleaners-user-quote-list-details-icon-set {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cleaners-user-quote-list-details-items-box-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-input-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.cleaners-user-quote-list-details-input-box > label {
  width: 60px;
}

.cleaners-user-quote-list-details-input-box > input {
  flex: 1;
}

.cleaners-user-quote-list-details-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cleaners-user-quote-list-details-input-layout {
  padding: 10px;
  background-color: var(--color-light-gray);
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

.cleaners-user-quote-list-details-input-layout:focus {
  outline: none;
}

@media (max-width: 820px) {
  .cleaners-user-quote-list-details-base-info {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    justify-items: center;
  }

  .cleaners-user-quote-list-details-grid-1 {
    grid-template-columns: 1fr;
  }
}




/**
.cleaners-user-quote-list-details-btn-small-custom {
  width: 150px;
  height: 30px;
  font-size: 16px;
  background-color: var(--color-light-gray);
  white-space: nowrap;
}

.cleaners-user-quote-list-details-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.cleaners-user-quote-list-title-text {
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.cleaners-user-quote-list-details-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
}

.cleaners-user-quote-list-details-reservation-date-time-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 90%;
  height: auto;
  display: flex;
}


.cleaners-user-quote-list-details-datepicker-wrapper {
  display: flex;
  width: 100%;
}

.cleaners-user-quote-list-details-datepicker {
  padding-left: 8px;
  width: 270px;
  height: 30px;
  border-radius: 5px;
}

.cleaners-user-quote-list-details-btn-small-custom.btn-active {
  background-color: var(--color-gray);
  color: #fff;
}

fieldset.cleaners-user-quote-list-details-border-none {
  border: none;
  padding: 5px 15px 15px 15px;
  width: 100%;
}

legend.cleaners-user-quote-list-details-border-none {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}


.cleaners-user-quote-list-details-quote-status {
  color: var(--color-blue);
  font-size: 24px;
  font-weight: bold;  
}

.cleaners-user-quote-list-details-user-info {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

.cleaners-user-quote-list-details-list-reservation-date {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.cleaners-user-quote-list-details-reservation-time {
  display: flex;
  flex-direction: row;
}

.cleaners-user-quote-list-details-answer-display-none {
  display: none;
}

.cleaners-user-quote-list-details-answer {
  width: 100px;
  height: 40px;
  white-space: nowrap;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-light-gray);
  text-align: center;
  line-height: 2;
  padding: 2px 10px;
  margin: 7px 10px;
}

.cleaners-user-quote-list-details-answer-selected {
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-gray);
  text-align: center;
  line-height: 2;
  padding: 2px 10px;
  margin: 7px 10px;
}

.cleaners-user-quote-list-details-attachment-btn {
  width: 90px;
  height: 30px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 5px;
  white-space: nowrap;
  border: none;
  text-align: center;
  background-color: var(--color-light-gray);
}

.cleaners-user-quote-list-details-attachment {
  display: none;
}

.cleaners-user-quote-list-details-ul-title {
  list-style: none;
}

.cleaners-user-quote-list-form-width {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaners-user-quote-list-details-answer-binary-layout {
  padding: 10px 0;
}

.cleaners-user-quote-list-details-input-layout {
  width: 270px;
  height: 30px;
  border-radius: 5px;
}

.cleaners-user-quote-list-details-radio-ui {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid var(--color-gray);
  background-color: var(--color-light-gray);
  display: inline-block;
  margin-right: 10px;
}
  
.cleaners-user-quote-list-details-answer-binary-selected .cleaners-user-quote-list-details-radio-ui {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  display: inline-block;
}

.cleaners-user-quote-list-details-radio-input {
  display: none;
}

.cleaenrs-user-quote-list-details-place-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 90%;
  height: auto;
  display: flex;
}

.cleaners-user-quote-list-details-details-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 90%;
  height: auto;
  display: flex;
}

.cleaners-user-quote-list-details-first-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cleaners-user-quote-list-details-reservation-date {
  display: flex;
}

.cleaners-user-quote-list-details-info {
  padding-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.cleaners-user-quote-list-details-details {
  padding-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

.cleaners-user-quote-list-details-details-option-info {
  color: var(--color-gray);
}

.cleaners-user-quote-list-details-reservation-date-title {
  white-space: nowrap;
  width: 64px;
}

.cleaners-user-quote-list-details-requests-title {
  margin: 10px 0;
}

.cleaners-user-quote-list-details-requests {
  min-height: 200px;
}

.cleaners-user-quote-list-details-cleaners-quote-list-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  margin-bottom: 30px;
  height: auto;
  display: flex;
}

.cleaners-user-quote-list-details-contents {
  display: flex;
  flex-direction: column;
}

*/