.cleaners-account-save-wrapper {
  margin: 0 auto;
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
}

.cleaners-account-save-account-info {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  height: 60px;
  width: 90%;
  margin-bottom: 30px;
  height:auto;
}

.cleaners-account-save-toggle-img-info {
  width: 17px;
  height: 8px;
  display: inline-block;
}

.cleaners-account-save-account-info-message {
  display: inline-block;
}

.cleaners-account-save-toggle-updown-info-contents {
  display: block;
}

.cleaners-account-save-toggle-updown-info-contents-toggledown {
  display: none;
}

.cleaners-account-save-account-modal-page {
  display: none;
}