
.cleaners-quote-list-preparation-save-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-quote-list-preparation-save-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
}

.cleaners-quote-list-preparation-wrapper{
  display: grid;
  gap: 1rem;
}

.cleaners-quote-list-preparation-quote-list-saves {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  font-size: 1.2rem;
}

.cleaners-quote-list-preparation-quote-list-select {
  border: none;
  padding: 5px;
}

.cleaners-quote-list-preparation-save-price-status {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

.cleaners-quote-list-preparation-save-explain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  justify-items: center;
}

.cleaners-quote-list-preparation-save-explain-title {
  font-weight: bold;
}

.cleaners-quote-list-preparation-save-explain-details {
  WIDTH: 100%;
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis; 
}

.cleaners-quote-list-preparation-save-status 
{
  color: var(--color-gray);
  font-weight: normal;
}

.cleaners-quote-list-preparation-save-explain {
  display: grid;
  grid-template-columns: 200px 1fr; /* 제목 고정폭 + 내용 가변 */
  margin: 0 auto;
  justify-items: center;
  column-gap: 12px;
}

.cleaners-quote-list-preparation-save-explain-details {
  width: 100%;
  min-width: 0;              
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}