.user-quote-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-quote-list-reservation-date-time-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
  margin-bottom: 30px;
  height: auto;
  display: flex;
}

.user-quote-list-quote-status {
  color: var(--color-blue);
  font-size: 30px;
  font-weight: bold;
}

.user-quote-list-reservation-time {
  display: flex;
  flex-direction: row;
}

.user-quote-list-answer-display-none {
  display: none;
}

.user-quote-list-answer {
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-light-gray);
  text-align: center;
  line-height: 2.3;
}

.user-quote-list-radio-ui {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  background-color: var(--color-light-gray);
}

.user-quote-list-radio-input {
  display: none;
}

.user-quote-list-answer-selected {
  width: 100px;
  height: 40px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-gray);
  text-align: center;
  line-height: 2.3;
}

.user-quote-list-answer-binary-selected {
  background-color: var(--color-gray);
} 