.cleaners-account-edit-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-account-edit-account-management {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-account-edit-account-management-title {
  display: flex;
  align-items: center;
}

.cleaners-account-edit-new-account-message {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.cleaners-account-edit-new-account-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaners-account-edit-remove-layout {
  display: flex;
  justify-content: space-between;
}

.cleaners-account-edit-account-title {
  padding-right: 1rem;
}

.cleaners-account-edit-add-account-wrapper {
  display: flex;
  flex-direction: column;
}

.cleaners-account-edit-add-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cleaners-account-edit-add-button-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cleaners-account-edit-toggle-updown-new-contents {
  display: block;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.cleaners-account-edit-toggle-updown-new-contents-closed {
  display: none;
}

.cleaners-account-edit-button {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  margin-top: 10px;
}

.cleaners-account-edit-cancel-button,
.cleaners-account-edit-submit-button {
  padding: 0.7rem 2rem;
  border-radius: 5px;
  background-color: var(--color-light-gray);
  white-space: nowrap;
}

.cleaners-account-edit-submit-button {
  background-color: var(--color-light-gray);
  color: #000;
}

.cleaners-account-edit-account-info {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-account-edit-account-info-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cleaners-account-edit-account-info-message {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.cleaners-account-edit-toggle-layout {
  display: flex;
  flex-direction: column;
}

.cleaners-account-edit-input-layout {
  width: 100%;
  height: 43px;
  border-radius: 5px;
  border: solid 1px var(--color-gray);
  padding: 0 10px;
  /* 패딩 추가 */
}

.cleaners-account-edit-input-layout:focus {
  outline: none;
}

.cleaners-account-edit-layout-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.cleaners-account-edit-account-settlement-criteria-guide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 0.5rem;
}

.cleaners-account-edit-account-message {
  color: var(--color-dark-gray);
  font-size: 0.9rem;
}

.cleaners-account-edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Media Query 조정 */
@media (max-width: 380px) {
  .cleaners-account-edit-input-layout {
    width: 100%;
  }

  .cleaners-account-edit-button {
    margin: 0 auto;
  }
}