.cleaners-my-page-wrapper {
  margin: 0 auto;
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
  background-color: var(--color-light-blue);
}

.cleaners-my-page-photo-frame {
  width: 120px;
  height: 160px;        /* 예: 3:4 증명사진 */
  background-color: #BBDCDD;
  border-radius: 10px;
  overflow: hidden;
}

.cleaners-my-page-profile-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cleaners-my-page-lists-all-wrapper {
  margin: 0 auto;
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 90%;
}

.cleaners-my-page-lists-1 {
  display: flex;
  gap: 20px;
}

.cleaners-my-page-lists-1-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cleaners-my-page-lists-1-user-info {
  display: flex;
}

.cleaners-my-page-lists-1-place {
  font-size: 20px;
}

.cleaners-my-page-lists-user-info {
  display: flex;
  flex-direction: column;
}

.cleaners-my-page-lists-status {
  font-size: 20px;
  color: var(--color-blue);
}

.cleaners-my-page-lists-1-status {
  display: flex;
  align-items: center;
  font-size: 20px;
}