.cleaners-user-quote-list-details-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-user-quote-list-details-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.cleaners-user-quote-list-details-items-box {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.cleaners-user-quote-list-details-items-box-column {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cleaners-user-quote-list-details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.cleaners-user-quote-list-details-base-info {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}

.cleaners-user-quote-list-details-like-status {
  color: var(--color-blue);
  font-weight: bold;
  font-size: 1.2rem;
}

.cleaners-user-quote-list-details-icon-set {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cleaners-user-quote-list-details-items-box-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-input-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.cleaners-user-quote-list-details-input-box > label {
  width: 60px;
}

.cleaners-user-quote-list-details-input-box > input {
  width: 100%;
}

.cleaners-user-quote-list-details-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cleaners-user-quote-list-details-input-layout {
  padding: 10px;
  background-color: var(--color-light-gray);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  flex: 1;
}

.cleaners-user-quote-list-details-input-layout-full-width {
  padding: 10px;
  background-color: var(--color-light-gray);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  flex: 1;
}

.cleaners-user-quote-list-details-input-layout:focus {
  outline: none;
}

.cleaners-user-quote-list-details-attachment-button {
  width: 7rem;
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}

.cleaners-user-quote-list-attachment-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-attachment {
  display: none;
}

.cleaners-user-quote-list-detail-attachment-img {
  cursor: pointer;
}

.cleaeners-user-list-details-ul-wrapper {
  display: flex;
}

.cleaners-user-quote-list-details-ul-title {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 3rem;
}

.cleaners-user-quote-list-details-border-none {
  border: none;
}

.cleaners-user-quote-list-detail-li {
  display: flex;
  list-style: none;
}

.cleaners-user-quote-list-details-toggle-details-wrapper {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-details-option-info {
  margin-bottom: 0.5rem;
}

.cleaners-user-quote-list-details-answer-binary-layout {
  display: grid;
}

.cleaners-user-quote-list-details-contents {
  display: grid;
}

.cleaners-user-quote-list-details-answer-layout {
  display: flex;
}

.cleaners-user-quote-list-details-input-box-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
}

.cleaners-user-quote-list-details-answers {
  display: grid;
  gap: 1rem;
}

.cleaners-user-quote-list-details-input-box-details-answer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cleaners-user-quote-list-details-input-details-box {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.cleaners-user-quote-list-details-input-box-details > label {
  width: 350px;
}

.cleaners-user-quote-list-details-input-box-details > input {
  flex: 1;
}


.cleaners-user-quote-list-details-radio-ui {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid var(--color-gray);
  background-color: var(--color-light-gray);
  display: inline-block;
  margin-right: 10px;
}
  
.cleaners-user-quote-list-details-answer-binary-selected .cleaners-user-quote-list-details-radio-ui {
  background-color: var(--color-gray);
  border-color: var(--color-gray);
  display: inline-block;
}

.cleaners-user-quote-list-details-radio-input {
  display: none;
}

.cleaners-user-quote-list-details-request {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.cleaners-user-quote-list-details-requests {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
}

.cleaners-user-quote-list-details-answer-binary-column {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.cleaners-profile-edit-button-small-custom3 {
  width: 130px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-light-gray);
  white-space: nowrap;
  margin: 0 auto;
}


@media (max-width: 820px) {

  .cleaners-user-quote-list-details-base-info {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    justify-items: center;
  }

  .cleaners-user-quote-list-details-grid-1 {
    grid-template-columns: 1fr;
  }
  
}


@media ( max-width: 720px ) {
  
  .cleaners-user-quote-list-details-contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  }

  .cleaners-user-quote-list-details-contents .cleaners-user-quote-list-details-requests {
    width: 100%;
  }

  .cleaners-user-quote-list-details-answer-layout {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

    .cleaners-user-quote-list-details-input-layout-full-width {
      width: 100%;
    }
  }


@media ( max-width: 410px ) {
 .cleaners-user-quote-list-details-items-box-column .cleaners-user-quote-list-details-grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
 }


.cleaners-user-quote-list-details-input-layout-column {
  width: 100%;
}

.cleaners-user-quote-list-details-answer-layout .cleaners-user-quote-list-details-input-layout {
  width: 100%;
}

.cleaners-user-quote-list-details-answer-layout {
  width: 100%;
  background-color: aliceblue;
}
}



