.all-container {
  max-width: 1200px;
  margin: auto;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cleaner-quotation-preparation-save-wrapper {
  display: flex;
  flex-direction: column;
}

.cleaner-quotation-preparation-quotation-saves {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 600px;
  margin-bottom: 30px;
  height:auto;
}
