.cleaners-user-quote-list-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaners-user-quote-list-title-text {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.cleaners-user-quote-list-title-status-selected {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  color: var(--color-blue);
}

.cleaners-user-quote-list-title-small-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
}

.cleaners-user-quote-list-title-wrapper-selected {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  background-color: #FFFDF9;
  padding: 8px 12px;
  margin-bottom: 30px;
  height:auto;
  cursor: pointer
}

.cleaners-user-quote-list-title-vertical-line-selected-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleaners-user-quote-list-title-location-selected-location {
  display: flex;
  justify-content: center;
}

.cleaners-user-quote-list-title-place-selected-place {
  display: flex;
  justify-content: center;
}

.cleaners-user-quote-list-title-user-selected-user {
  display: flex;
  justify-content: center;
}


.cleaners-user-quote-list-title-date-select-date {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.cleaners-user-quote-list-title-img-frame {
  width: 80%;
  background-color: #BBDCDD;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.cleaners-user-quote-list-title-img-selected {
  width: 100px;
  height: 100px;
}

.cleaners-user-quote-list-title-wrapper-rejected {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  background-color: #F9F9FB;
  padding: 8px 12px;
  margin-bottom: 30px;
  height:auto;
  cursor: pointer;
}

.cleaners-user-quote-list-title-status-rejected {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: var(--color-red);
}


.cleaners-user-quote-list-title-vertical-line-rejected-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleaners-user-quote-list-title-location-rejected-location {
  display: flex;
  justify-content: center;
}

.cleaners-user-quote-list-title-place-rejected-place {
  display: flex;
  justify-content: center;
}

.cleaners-user-quote-list-title-user-rejected-user {
  display: flex;
  justify-content: center;
}


.cleaners-user-quote-list-title-date-rejected-date {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


.cleaners-user-quote-list-title-wrapper-pending {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  background-color: #F9F9FB;
  padding: 8px 12px;
  margin-bottom: 30px;
  height:auto;
  cursor: pointer;
}

.cleaners-user-quote-list-title-status-pending {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  color: var(--color-gray);
}

.cleaners-user-quote-list-title-vertical-line-pending-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cleaners-user-quote-list-title-location-pending-location {
  display: flex;
  justify-content: center;
}

.cleaners-user-quote-list-title-place-pending-place {
  display: flex;
  justify-content: center;
}

.cleaners-user-quote-list-title-user-pending-user {
  display: flex;
  justify-content: center;
}


.cleaners-user-quote-list-title-date-pending-date {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}