.cleaners-account-save-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cleaners-account-save-account-management {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-account-save-account-management-title {
  display: flex;
  align-items: center;
}

.cleaners-account-save-new-account-message {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cleaners-account-save-new-account-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cleaners-account-save-remove-layout {
  display: flex;
}

.cleaners-account-save-account-title {
  padding-right: 1rem;
}

.cleaners-account-save-delete-img {
  display: flex;
  flex-direction: column;
  width: 14px;
}

.cleaners-account-save-add-button {
  display: flex;
  flex-direction: column;
}

.cleaners-account-save-add-button-text {
  display: flex;
  justify-content: center;
}

.cleaners-account-save-toggle-updown-new-contents {
  display: block;
}

.cleaners-account-save-toggle-updown-new-contents-toggledown {
  display: none;
}

.cleaners-account-save-toggle-updown-form-accounts-toggledown {
  display: none;
}

.cleaners-account-save-toggle-updown-form-accounts {
  display: block;
}


.cleaners-account-save-toggle-updown-form-contents {
  display: block;
}

.cleaners-account-save-toggle-updown-form-contents-toggledown {
  display: none;
}

.cleaners-account-save-button {
  padding: 15px;
  display: flex;
  justify-content: end;
  gap: 60px;
  margin: 0 30px 30px 0;
}

.cleaners-account-save-cancel-button,
.cleaners-account-save-submit-button {
  width: 110px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-light-gray);
  white-space: nowrap;
}

.cleaners-account-save-account-info {
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cleaners-account-save-account-info-title {
  display: flex;
  align-items: center;
}

.cleaners-account-save-account-info-message {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;

}

.cleaners-account-save-toggle-updown-info-contents {
  display: block;
}

.cleaners-account-save-toggle-updown-info-contents-toggledown {
  display: none;
}

.cleaners-account-save-account-modal-page {
  display: none;
}

.cleaners-account-save-toggle-layout {
  display: flex;
  flex-direction: column;
}

.cleaners-account-save-input-layout {
  width: 270px;
  height: 43px;
  border-radius: 5px;
  border: 1px solid var(--color-gray)
}

.cleaners-account-save-layout-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 20px;
}

.cleaners-account-save-account-settlement-criteria-guide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 367px) {
  .cleaners-account-save-input-layout,
  .cleaners-account-save-input-layout {
    width: 100%;
  }

  .cleaners-account-save-button {
    margin: 0 auto;
  }
}