.profileImageWrap {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.profileImageContainer {
  width: 180px;
  height: 270px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.profileImage {
  width: 100%;
  height: 100%;
  background: #bbdcdd;
  object-fit: cover;
  border-radius: 5px;
}

.imageSelected {                                                                                                
  background: none;                                                                                             
}   

.editIcon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid var(--color-light-gray);
}
