.all-container {
  max-width: 1200px;
  margin: auto;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.user-quote-list-wrapper {
  border: var(--color-gray) solid 2px;
  border-radius: 10px;
  padding: 8px 12px;
  width: 600px;
  margin-bottom: 30px;
  height: auto;
  display: flex;
}

.user-quote-list-quote-status {
  color: var(--color-blue);
  font-size: 30px;
  font-weight: bold;
}

